h2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align:center;
	color: #27484c;
	font-weight: bold;
	font-size: 20px;
}
h3{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align:center;
	color: #27484c;
	font-weight: bold;
	font-size: 18px;
}
p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 18px;
	color: #27484c;
	font-weight: normal;
	text-align:center;
	letter-spacing: 1.5px;
	line-height:30px;
	padding-left: 250px;
	padding-right: 250px;
}
.imagem{
	height: 400px;
	display:block;
	margin: auto;
}